<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/static/js/jquery-2.0.3.js"></script>
</head>
<body>

  <pre id = "recv"></pre>


<script>
          str = "";
    function check(){
        $.ajax({
        type: 'GET',
        url: '/api/',
        success:function (res) {

          str += "<p>" + res.data + "</p>";
            $('#recv').html(str);
        }
    })
    }
    setInterval(check, 1000);
</script>

</body>
</html>
